<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<parameter name="folderName1" value="ScreenshotFolder2" />
		<!-- <parameter name = "folderName1" value="ScreenshotFolder2"/> -->
		<parameter name="folderName3" value="ScreenshotFolder3" />
		<classes>
<!-- 			<class name="com.grootantech.qa.testcases.MenuNavigation"/> -->
			<class name="com.grootantech.qa.testcases.ImageComparison" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
